In [3]:
import pandas as pd
    
# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
   
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)
  
print(df)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [10]:
col = list(df)
print(col)

['name', 'degree', 'score']

In [9]:
for i in col:
    print(df[i][2])

sudhir
M.Tech
80